body {
    font-family: Garamond, serif;
    background-color: #f0f0f0;
}

h1 {
    color: #000000;
}

h2 {
    color: #00ffff
}

h3 {
    color: #000000;
}

p {
    line-height: 1.6;
    font-size: 1.2em;
}

a {
    color: #00ffff;
    text-decoration: none;
    display: inline;
    margin-right: 100px;
}

table {
    width: 50%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.center-text {
    text-align: center;
}

body {
    background-color: rgb(77, 43, 38);
}

.center-images {
    text-align: center;
}

.sytled-input-box {
    border: 10px solid rgb(115, 255, 0);
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
}
